@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --radius: 0.5rem;

    --header-height: 4rem;
  }
}

@layer base {
  * {
    @apply border-border;
    @apply overscroll-none;
  }
  body {
    @apply bg-background text-foreground;
  }
  .text-gamer {
    @apply bg-gradient-to-r from-blue-300 via-pink-400 to-blue-400 bg-clip-text text-transparent;
  }
  .bg-gamer {
    @apply bg-gradient-to-r from-blue-600 to-pink-400;
  }
}
